footer {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8d8d8d;
  background-color: #131313;

  @media (width < 800px) {
    flex-direction: column;
    gap: rem;
  }

  .social_icons_container {
    display: flex;
    gap: 2rem;
  }

  .legal_container {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #8d8d8d;
    }
  }
}

.link_hover {
  transition: transform 150ms ease-out;

  &:hover {
    transform: scale(1.2);
  }
}
