<footer>
    <div class="container">
        <div class="legal_container">
            <a routerLink="/imprint" class="hover-underline-animation" href="#">Imprint</a>
            <span>|</span>
            <a routerLink="/privacy-policy" class="hover-underline-animation" href="#">Privacy Policy</a>
        </div>
        <span>© Kevin Ammerman 2024</span>
        <div class="social_icons_container">
            <a class="link_hover" href="https://github.com/KevinAmmerman" target="_blank"><img
                    src="assets/icons/github.png" alt="github logo"></a>
            <a class="link_hover" href="mailto:k.ammerman@pm.me"><img src="assets/icons/email.png" alt="email logo"></a>
            <a class="link_hover" href="https://www.linkedin.com/in/kevin-ammerman/" target="_blank"><img
                    src="assets/icons/linkedin.png" alt="linkedIn logo"></a>
        </div>
    </div>
</footer>