footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8d8d8d;
  background-color: #131313;

  .social_icons_container {
    display: flex;
    gap: 2rem;
  }

  .legal_container {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #8d8d8d;
    }
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width < 680px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.link_hover {
  transition: transform 150ms ease-out;

  &:hover {
    transform: scale(1.2);
  }
}
