<section>
    <img class="vector_left" src="assets/vectors/vector_one.png" alt="cloud">
    <div class="headline_container">
        <h1>About Me</h1>
    </div>
    <main>
        <div class="about_me_container">
            <div class="column">
                <h2>I bring ideas to code</h2>
            </div>
            <div class="column">
                <p>Hello there! I'm Kevin, an enthusiastic Front-End Developer passionate about creating appealing and
                    functional applications. My fascination with technology began in my childhood, ultimately leading me
                    to undergo a professional training at the Developer Academy. There, I gained valuable practical
                    experience by working on my own projects and successfully collaborating in teams.</p>
            </div>
        </div>
        <div class="image_container">
            <img class="picture_me" src="assets/vectors/me3.jpg" alt="">
            <img class="picture_wide" src="assets/vectors/me_second.jpg" alt="">
        </div>
    </main>
</section>