<section>
    <img class="vector_left" src="assets/vectors/vector_one.png" alt="cloud">
    <div class="headline_container">
        <h1>My Work</h1>
    </div>
    <main>
        <div class="row">
            <div class="content">
                <div class="img_frame">
                    <div class="hover hover_container_small">DA-Bubble</div>
                    <img src="assets/project_img/da-bubble.png" alt="">
                </div>
            </div>
            <div class="content">
                <div class="img_frame">
                    <div class="hover hover_container_wide">El Pollo Loco</div>
                    <img class="wide_img img_position" src="assets/project_img/el_pollo_loco.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="img_frame">
                    <div class="hover hover_container_wide">JOIN</div>
                    <img class="wide_img" src="assets/project_img/join.jpg" alt="">
                </div>
            </div>
            <div class="content">
                <div class="img_frame">
                    <div class="hover hover_container_small">ShoppingList</div>
                    <img src="assets/project_img/work_in_progress.png" alt="">
                </div>
            </div>
        </div>
    </main>
</section>