section {
  max-width: 1280px;
  height: 100svh;
  padding: 8.75rem 5rem 0;
  margin: auto;

  @media (width < 575px) {
    padding: 5rem 2rem 2rem;
  }

  @media (width < 440px) {
    height: auto;
  }
}

.vector_left {
  position: absolute;
  width: auto;
  height: 450px;
  left: -300px;
  top: 0;
  transform: scaleX(-1);
  z-index: -1;
}

.headline_container {
  color: white;
  margin: 2rem 0 3.5rem;
  padding-bottom: 2.3rem;
  border-bottom: 1px solid #8d8d8d;

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  @media (width < 1100px) {
    margin: 1rem 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.row {
  display: flex;
  gap: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.img_frame {
  position: relative;

  &:hover {
    .hover {
      animation: optIn 225ms ease-in-out forwards;
    }
  }
}

@keyframes optIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  border-radius: 0.5rem;
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.img_position {
  object-position: top;
}

.wide_img {
  width: 500px;
}

.hover_container_small {
  width: 400px;
  height: 250px;
}

.hover_container_wide {
  width: 500px;
  height: 250px;
}

.hover {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  opacity: 0;
}
