<section>
    <img class="vector_left" src="assets/vectors/vector_one.png" alt="cloud">
    <div class="headline_container">
        <h1>{{projectName}}</h1>
        <div class="link_container">
            <a href="{{currentProject.links.live}}" target="_blank"><img src="assets/icons/live.png" alt=""></a>
            <a href="{{currentProject.links.github}}" target="_blank"><img src="assets/icons/github.png" alt=""></a>
        </div>
    </div>
    <main>
        <img class="main_img" src="{{currentProject.imgPath}}" alt="">
        <div class="story_container">
            <h2>Project Story</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus quos id nisi! Debitis est eum
                culpa. Quia beatae possimus excepturi eaque soluta aspernatur doloribus rerum, repudiandae deserunt
                labore in asperiores.</p>
        </div>
        <div class="img_container">
            <div class="img_frame">
                <img src="assets/project_img/{{currentProject.mobileImg[0]}}" alt="">
                <a href="{{currentProject.mobileImg[1]}}">{{currentProject.mobileImg[2]}}</a>
            </div>
            <div class="img_frame">
                <img src="assets/project_img/{{currentProject.tabletImg[0]}}" alt="">
                <a href="{{currentProject.tabletImg[1]}}">{{currentProject.tabletImg[2]}}</a>
            </div>
        </div>
        <div class="stack_container">
            <h2>Tech Stack used in this Project</h2>
            <div class="stack_box">
                @for (icon of currentProject.stack; track $index) {
                <div class="icon_frame">
                    <img src="assets/icons/{{icon.icon}}" height="100" width="100" alt="{{icon.name}}" />
                    <span>{{icon.name}}</span>
                </div>
                }
            </div>
        </div>
    </main>
</section>