main {
  max-width: 1920px;
  margin: auto;
  height: 100svh;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.vector_right {
  position: absolute;
  width: auto;
  height: 450px;
  right: -150px;
  top: 0;
}

.vector_left {
  position: absolute;
  width: auto;
  height: 450px;
  left: -150px;
  bottom: 0;
  transform: scaleX(-1);
}

@media (width < 450px) {
  .vector_right {
    right: -350px;
  }

  .vector_left {
    left: -350px;
    bottom: -50px;
  }
}

// MAIN CONTENT

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 0.5rem;
    font-size: clamp(0.5rem, 8.5vw, 2.5rem);

    @media (width < 450px) {
      text-align: center;
    }
  }

  h1,
  span {
    color: white;
  }

  span {
    font-size: clamp(0.5rem, 5vw, 1.2rem);
  }
}

.line-1 {
  position: relative;
  width: 24em;
  border-right: 2px solid #ff9142;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  letter-spacing: 0.15em;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 0.5s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 14em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #ff9142;
  }
  to {
    border-right-color: transparent;
  }
}

// IMAGE MAIN CONTENT

.picture_me {
  height: clamp(250px, 30vw, 450px);
  border-radius: 2rem;
}

.image_container {
  position: relative;
}

.picture_vector_top {
  position: absolute;
  width: 6rem;
  top: -15px;
  right: 25px;
}

.picture_vector_left {
  height: 9rem;
  position: absolute;
  left: -25px;
  bottom: 20px;
}

// TECH STACK ICONS

.tech_stack_container {
  position: absolute;
  bottom: 0;
}
