<main>
    <img class="vector_right" src="assets/vectors/vector_one.png" alt="cloud">
    <img class="vector_left" src="assets/vectors/vector_one.png" alt="cloud">
    <div class="container">
        <div class="image_container">
            <img class="picture_me" src="assets/vectors/me3.jpg" alt="">
            <img class="picture_vector_top" src="assets/vectors/top-vector.png" alt="">
            <img class="picture_vector_left" src="assets/vectors/left-vector.png" alt="">
        </div>
        <h1>Kevin Ammerman</h1>
        <span class="line-1 anim-typewriter">FRONTEND DEVELOPER</span>
    </div>
    <div class="tech_stack_container">
        <!-- @for (icon of iconsArray; track $index) {
        <img src="assets/icons/{{icon.icon}}" alt="{{icon.name}}">
        } -->
        <app-tech-stack-carousel></app-tech-stack-carousel>
    </div>

</main>